<div class="m-10 p-10 bg-white rounded-lg">
  <p class="text-5xl font-bold pb-5">File Analytics</p>
  
  <table>
    <thead>
      <tr>
        <th class="px-6 py-3">File Name</th>
        <th class="px-6 py-3">Number of Downloads</th>
        <th class="px-6 py-3">Number of Emails</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="px-6 py-3">
          Image.png
        </td>
        <td class="px-6 py-3">
          5
        </td>
        <td class="px-6 py-3">
          10
        </td>
      </tr>
    </tbody>
    
  </table>
</div>