<div class="m-10 p-10 bg-white rounded-lg">
  <p class="text-5xl font-bold pb-5">File Analytics</p>
  
  <table>
    <thead>
      <tr>
        <th class="px-6 py-3">File Title</th>
        <th class="px-6 py-3">Number of Downloads</th>
        <th class="px-6 py-3">Number of Emails</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let fileMetaData of fileMetaData">
        <tr>
          <td class="px-6 py-3">
            {{fileMetaData.name}}
          </td>
          <td class="px-6 py-3">
            {{fileMetaData.numberOfDownloads}}
          </td>
          <td class="px-6 py-3">
            {{fileMetaData.numberOfSentEmails}}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>